/* SA:MP Servers Frontend Stylesheet */

body {
  font-family: sans-serif;
}

h1 h2 h3 h4 {
  font-family: serif;
}

.table-control {
  display: inline;
}

.table-control button {
  margin-left: 5px;
  margin-right: 5px;
}
