/* SA:MP Servers Frontend Stylesheet */
body {
  font-family: sans-serif;
}

/* Main sections */

@media all and (min-width: 480px) {
  #container {
    display: grid;
    grid-template-columns: 100px [left] auto [right] 100px;
    grid-template-rows: [top] 120px [top-end info] 50px [info-end list] auto [list-end];
  }
}

@media (max-width: 980px) {
  #container {
    display: grid;
    grid-template-columns: 0px [left] auto [right] 0px;
    grid-template-rows: [top] 120px [top-end info] 50px [info-end list] auto [list-end];
  }

  .list-table .col-gamemode {
    display: none;
  }
  .list-table .col-players {
    display: none;
  }
  .list-table .col-language {
    display: none;
  }
}

.section-info {
  grid-row: top / top-end;
  grid-column: left / right;
  padding: 5px;
  text-align: center;
}

.section-stats {
  grid-row: info / info-end;
  grid-column: left / right;
  justify-self: center;
}

.section-list {
  grid-row: list / list-end;
  grid-column: left / right;
  justify-self: center;
}

.section-details {
  grid-row: list / list-end;
  grid-column: left / right;
}

/* Server List Controls */

.list-controls {
  margin: 10px;
}

.list-control {
  display: inline;
}

.list-control button {
  margin-left: 5px;
  margin-right: 5px;
}

/* Server List Table */

.list-table {
  align-self: center;
  padding-left: 20px;
  padding-right: 20px;
}

.list-table table {
  margin-left: auto;
  margin-right: auto;
}

.list-table .col-hostname {
  text-align: center;
}

.list-table .col-gamemode {
  text-align: center;
}

.list-table .col-players {
  text-align: center;
}

.list-table .col-language {
  text-align: center;
}
